<!-- ======== HEADER ========= -->
<header class="header">
    <div class="div-header">
        <nav class="navigation">
            <a class="logo-header" href="./index.html">
                SM WORK HUB
            </a>
        </nav>

        <address class="address">
            <ul class="address-list">
                <li>
                    <a class="address-link" href="tel:+48574229012">
                        <svg class="icon">
                            <use href="./img/symbol-defs.svg#phone">

                            </use>
                        </svg>
                        +48 574 229 012
                    </a>
                </li>
                <li>
                    <a class="address-link" href="mailto:smworkhub@gmail.com">
                        <svg class="icon">
                            <use href="./img/symbol-defs.svg#mail"></use>
                        </svg>
                        smworkhub@gmail.com
                    </a>
                </li>
            </ul>

        </address>

    </div>
</header>